* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  background-color: #15202b;
  font-family: "Roboto", sans-serif;
}
input,
textarea {
  font: inherit;
}

#root {
  background-color: #15202b;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
label {
  font-size: 18px;
  color: whitesmoke;
}
.note {
  width: 600px;
  height: auto;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  background-color: #15202b;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.note:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.note:hover .delete-note {
  display: block;
}

.note-editor {
  width: 100%;
  min-height: 180px;
  padding: 8px 4px;
  margin: 16px auto;
  background-color: #15202b;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  border: solid #cccccc 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.note-input {
  flex: 1;
  background-color: #15202b;
}

.note-button {
  display: flex;
  align-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.editor-modal {
  background-color: rgb(155, 183, 194);
}

.textarea {
  width: 98%;
  background-color: #15202b;
  color: white;
  resize: none;
  margin: 4px 2px 4px 4px;
  padding: 2px 4px 2px 2px;
  font-size: 16px;
  border: none;
  font-weight: 100;
}

.textarea:focus {
  outline: 0;
}

.note-title {
  width: 100%;
  resize: none;
  margin: 2px;
  font-size: 10px;
  border: none;
  font-weight: 100;
}

.add-button {
  float: right;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  text-align: center;
  width: 68px;
  height: 34px;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  margin: 3px 4px 0px 0px;
  padding: 2px 2px;
  text-decoration: none;
}

.add-button:hover {
  background-color: #5cbf2a;
}

.add-button:active {
  position: relative;
  top: 1px;
}

/* button enabled */
.add-button-false {
  background-color: #007bff;
}

/* button disabled */
.add-button-true {
  background-color: rgba(181, 184, 181, 0.473);
}
.add-button-true:hover {
  cursor: not-allowed;
  background-color: rgba(181, 184, 181, 0.473);
}

.warning {
  margin: 2px 10px;
  flex: 1;
}
.warning-text {
  font-size: 16px;
  background-color: #f8d7da;
  color: #721c24;
  padding: 7px 4px;
  font-weight: bold;
  border-radius: 4px;
}
.notes-grid {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.notes-one {
  width: auto;
  display: flex;
  align-items: center;
  align-content: space-between;
  flex-flow: column wrap;
  font-size: 8px;
  background-color: #343a40;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 4px 0px;
  padding: 10px;
}

.notes-one:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.saved-note-text {
  text-align: left;
  width: -webkit-fill-available;
  font-size: 14px;
  margin: 8px 0px;
  padding: 8px 0px;
  color: #ffffff;
}

.tweet-head {
  display: flex;
  width: 100%;
}

.user-name {
  float: left;
  color: #6c757d;
  text-align: left;
  width: -webkit-fill-available;
  font-size: 14px;
  font-weight: bold;
  margin: 1px 0px;
  padding: 1px 4px;
}

.saved-note-date {
  float: right;
  text-align: right;
  color: #6c757d;
  width: -webkit-fill-available;
  font-size: 14px;
  font-weight: bold;
}

.trash-icon {
  display: inline-block;
  align-content: center;
  font-size: 12px;
  color: rgb(255, 255, 255);
  margin: 2px 4px;
  cursor: pointer;
}

.loader {
  align-self: center;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.page-wrapper {
  width: 90%;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

/* ABOUT PAGE STYLING*/
.nav-bar-up {
  margin-top: 1px;
  width: 100%;
  display: block;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}

.linkText {
  color: #949393;
  text-shadow: rgb(44, 55, 66);
  display: block;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding: 0;
}

.linkText:hover {
  color: #ffffff;
  text-shadow: rgb(151, 152, 153);
}

.nav-bar-up ul {
  background-color: #343a40;
  height: 58px;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  border-radius: 6px;
}

.nav-bar-up li {
  float: center;
}

.nav-bar-up .navtext {
  font-weight: 200;
  float: left;
  color: #949393;
  text-shadow: rgb(44, 55, 66);
  margin: 18px 18px 2px 36px;
}

.nav-bar-up .navtext:hover:not(.active) {
  color: whitesmoke;
}

.username {
  width: 600px;
  height: auto;
  margin-top: 20px;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  background-color: #15202b;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.name-editor {
  width: 100%;
  padding: 8px 4px;
  margin: 16px auto;
  background-color: #15202b;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.namearea {
  width: 100%;
  background-color: #15202b;
  color: white;
  resize: none;
  margin: 4px 2px 4px 4px;
  padding: 2px 4px 2px 2px;
  font-size: 16px;
  border: 2px solid #cccccc;
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: 100;
}

.profile-title {
  display: inline-flex;
  align-self: flex-start;
  font-size: 32px;
  color: white;
}

.name-input {
  background-color: #15202b;
}

.user-button {
  margin-top: 4px;
}

@media only screen and (min-width: 320px) {
  .note {
    width: 98%;
  }
}

@media only screen and (max-width: 320px) {
  .note {
    width: 98%;
  }
}

@media only screen and (min-width: 640px) {
  .note {
    width: 600px;
  }
}
